*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 400px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        height: 150px;
        width: 80%;
    }
}
@media(max-width: 300px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        color: bisque;
    }
}