*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

.all-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
.all-container .right-container, .left-container{
    height: auto;
    width: 100%;
}

.left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-container .title-container span{
    color: #0066FF;
    font-size: 85px;
}
.left-container .title-container .sari-container img{
    position: relative;
    top: 20px;
}
.left-container .title-container .sari-container #sari-word{
    position: relative;
    right: 5px;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.right-container{
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
}
.right-container #create-acc{
    font-size: clamp(10px, 10vw, 30px);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right-container .upper-up-container{
    display: flex;
    flex-direction: row;
    margin: 50px 15px 15px 0;
}
.right-container .upper-up-container .txt-container{
    display: flex;
    flex-direction: column;
}
.right-container .upper-up-container .txt-container span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.right-container .upper-up-container .txt-container input{
    margin: 0 40px 10px 0;
    padding: 7px 150px 7px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border: 0.7px solid grey;
    border-radius: 4px;
}

.right-container .upper-down-container{
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 0;
}
.right-container .upper-down-container .txt-container{
    display: flex;
    flex-direction: column;
}
.right-container .upper-down-container .txt-container span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.right-container .upper-down-container .txt-container input{
    margin: 0 40px 10px 0;
    padding: 7px 150px 7px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border: 0.7px solid grey;
    border-radius: 4px;
}

.lower-sec-container{
    margin-top: 40px;
}
.right-container .lower-up-container{
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 0;
}
.right-container .lower-up-container .txt-container{
    display: flex;
    flex-direction: column;
}
.right-container .lower-up-container .txt-container span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.right-container .lower-up-container .txt-container input{
    margin: 0 40px 10px 0;
    padding: 7px 150px 7px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border: 0.7px solid grey;
    border-radius: 4px;
}
.right-container .lower-down-container{
    display: flex;
    flex-direction: row;
    margin: 15px 15px 15px 0;
}
.right-container .lower-down-container .txt-container{
    display: flex;
    flex-direction: column;
}
.right-container .lower-down-container .txt-container span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.right-container .lower-down-container .txt-container input{
    margin: 0 40px 10px 0;
    padding: 7px 150px 7px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border: 0.7px solid grey;
    border-radius: 4px;
}
.right-container form button{
    margin-top: 30px;
    padding: 7px;
    background-color: #0066FF;
    width: 350px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s
}
.right-container form button span{
    color: white;
    font-size: clamp(13px,2.3vw,18px);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-container form button:hover{
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 1px grey;
}
.bottom-container{
    margin-top: 40px;
}

.bottom-container h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.bottom-container Button {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin-top: 20px;
    transition: 0.5s;
    border: none;
    background-color: white;
    border: 0.3px solid black;
}
.bottom-container Button img{
    width: auto;
    height: 25px;
}
.bottom-container Button:hover{
    box-shadow: 1px 1px 6px 2px grey;
    transform: scale(1.01);
    cursor: pointer;
}