*{
margin: 0;
}
.body{
    display: flex;
    flex-direction: row;
}
.all-sidebar{
    padding: 0px;
    min-height: 100vh;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background-color: blue;
    border-radius: 10px 10px 10px 0px;
}
.title-bar{
    display: flex;
    align-items: center;
}
.title-bar img{
    margin: 13px;
    width: auto;
    height: 60px;
}
.title-bar h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: relative;
    top: 7px;
    right: 5px;
}
.all-sidebar #main-dashBtn{
    margin-top: 40px;
}
.all-sidebar hr{
    align-self: center;
    width: 95%;
}
.all-sidebar .sidebar-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 20px auto;
    border: none;
    border-radius: 6px;
    background-color: blue;
    padding: 5px;
    transition: 0.2s;
}
.all-sidebar .sidebar-btn img{
    width: auto;
    height: 40px;
    margin-right: 15px;
}
.all-sidebar .sidebar-btn p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.all-sidebar .sidebar-btn:hover{
    transform: scale(1.02);
    background-color: rgb(134, 134, 248);
    cursor: pointer;
}
.all-sidebar .sidebar-btn:active{
    transform: scale(1.02);
    background-color: white;
}

.main{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1000px){
    .all-sidebar{
        display: none;
    }
}